<!DOCTYPE html>
<html>
<head>
  <title>SoAuthClient</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<h1><%= link_to "SoAuthClient", root_path %></h1>
<%= link_to "Provider", ENV['AUTH_PROVIDER_URL'] %>
<hr />

<%= yield %>

</body>
</html>
