<!DOCTYPE html>
<html>
<head>
  <title>SoAuthClient</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="header">
  <%= link_to image_tag('rails.png'), root_path %>
  <h1><%= link_to "SoAuthClient", root_path %></h1>
  <h2><%= link_to "Go to the Provider", ENV['AUTH_PROVIDER_URL'] %></h2>
  <hr />
</div>

<%= yield %>

<hr />
<h3><%= request.original_url %></h3>

</body>
</html>
